Projects/Project[[:space:]]02[[:space:]]Smartphone-based[[:space:]]pose[[:space:]]classification/*.pptx filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
